* {
    margin: 0;
}

.admin-page {

    display: grid;
    grid-template-columns: repeat(9, 300px);
    grid-template-rows: repeat(9, 100px);
}

.left-navbar {

    background: rgb(9, 153, 209);
    grid-row-start: 1;
    grid-row-end: -1;
}

.dashboard-name {

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: xx-large;
}

.dashboard-name > img {

        width: 75px;
        height: auto;
}

.left-navbar > img {

    width: 50px;
    height: auto;
}

.left-navbar .home-icon {

    width: 50px;
    height: auto;
}

.home {

    display:flex;
    align-items: center;
    gap: 10px;
}

#home-icon-left-navbar {

    font-size: x-large;
}