* {
    margin: 0;
}

.admin-page {

    display: grid;
    grid-template-columns: repeat(9, 300px);
    grid-template-rows: repeat(9, 100px);
}

.left-navbar {

    background: rgb(9, 153, 209);
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(9,100px);
    grid-row-start: 1;
    grid-row-end: -1;
}

.dashboard-name {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    font-size: xx-large;
    grid-row-start: 1;
    grid-row-end: 2;
}

.dashboard-name > img {

        width: 75px;
        height: auto;
}

.left-navbar > img {

    width: 50px;
    height: auto;
}

.left-navbar .home-icon {

    width: 50px;
    height: auto;
}

.home {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    gap: 10px;
    margin: 15px;

}

#home-icon-left-navbar {

    font-size: x-large;
}

.left-navbar .chat-icon {

    width: 50px;
    height: auto;
}

.messages {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 4;
    gap: 10px;
    margin: 15px;

}

#book-icon-left-navbar {

    font-size: x-large;
}

.left-navbar .book-icon {

    width: 50px;
    height: auto;
}

.history {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-row-start: 4;
    grid-row-end: 5;
    gap: 10px;
    margin: 15px;

}

#chat-icon-left-navbar {

    font-size: x-large;
}
